body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.merienda{
  font-family: 'Merienda One', cursive;
}

.MIT{
  width: 80px;
  height: 20px;
}

/* Navbar */
.nav_btn {
  margin-right: 10px;
  background-color: #63ADF2 !important;
  color: white !important;
  border: 0px !important;
  border-radius: 3px !important;
  font-weight: 600 !important;
}

.inner_btn {
  height: 50px;
  width: 100px;
  padding: 12px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

/* Home */
.home_header_img {
  background: url("https://bit.ly/2Nf3wrZ");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
	height: 600px;
	padding: 200px 0px;
  width: 100%;
  color: black;
}
  /*Carrusel*/
.carousel > .carousel-item > img {
    margin: 0 auto;
}


