body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carousel-item img{
  width: 100% !important;
}

.carousel-caption{
  color: black; 
  background-color: aliceblue;
  opacity: 0.7;
}

.merienda{
  font-family: 'Merienda One', cursive;
}

/* Navbar */
.nav_btn {
  margin-right: 10px;
  background-color: #63ADF2 !important;
  color: white !important;
  border: 0px !important;
  border-radius: 3px !important;
  font-weight: 600 !important;
}

.inner_btn {
  height: 50px;
  width: 100px;
  padding: 12px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

/* Home */
.home_header_img {
  background: url("https://bit.ly/2Nf3wrZ");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
	height: 600px;
	padding: 200px 0px;
  width: 100%;
  color: black;
}
  /*Carrusel*/
  .slider {
    /* line them up horizontally */
    display: flex;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
  }
  .slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 300px;
    height: 300px;
  }

